<main class="container">
    <section class="calculadora">
        <div class="row g-2">
            <input class="col-12" type="text" [value]="display" readonly>

            <button type="button" class="col-12 col-md-4 btn btn-light" (click)="setButtonValue(0)">0</button>
            <button type="button" class="col-12 col-md-4 btn btn-light" (click)="setButtonValue(1)">1</button>
            <button type="button" class="col-12 col-md-4 btn btn-light" (click)="setButtonValue(2)">2</button>
            <button type="button" class="col-12 col-md-4 btn btn-light" (click)="setButtonValue(3)">3</button>
            <button type="button" class="col-12 col-md-4 btn btn-light" (click)="setButtonValue(4)">4</button>
            <button type="button" class="col-12 col-md-4 btn btn-light" (click)="setButtonValue(5)">5</button>
            <button type="button" class="col-12 col-md-4 btn btn-light" (click)="setButtonValue(6)">6</button>
            <button type="button" class="col-12 col-md-4 btn btn-light" (click)="setButtonValue(7)">7</button>
            <button type="button" class="col-12 col-md-4 btn btn-light" (click)="setButtonValue(8)">8</button>
            <button type="button" class="col-12 col-md-4 btn btn-light" (click)="setButtonValue(9)">9</button>
        
            <button type="button" class="col-12 col-md-4 btn btn-secondary" (click)="setButtonValue('.')">.</button>
            <button type="button" class="col-12 col-md-4 btn btn-secondary" (click)="setButtonValue('+')">+</button>
            <button type="button" class="col-12 col-md-4 btn btn-secondary" (click)="setButtonValue('-')">-</button>
            <button type="button" class="col-12 col-md-4 btn btn-secondary" (click)="setButtonValue('*')">x</button>
            <button type="button" class="col-12 col-md-4 btn btn-secondary" (click)="setButtonValue('/')">/</button>

            <button type="button" class="col-12 col-md-6 btn btn-warning" (click)="setButtonValue('delete')"><i class="bi bi-backspace"></i></button>
            <button type="button" class="col-12 col-md-6 btn btn-danger" (click)="setButtonValue('clean')"><i class="bi bi-trash"></i></button>

            <button type="button" class="col-12 btn btn-primary" (click)="getResult()">=</button>
        </div>
    </section>

</main>


