.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    font-family: 'Calculator', sans-serif;
    background-color: rgb(215 218 215);
    border: solid 2px #212529;
    border-radius: 10px;
    padding: 20px;
    margin: 50px;
    width: 45%;
}
