<app-calculator-container>

    <ng-container display>
        <app-display-input [displayValue]="display"></app-display-input>
    </ng-container>

    <ng-container buttonCopy>
        <app-action-button buttonColor="dark" 
            buttonContent="Copiar"
            (buttonClicked)="copyToClipboard()"
            (click)="showComponent()">
        </app-action-button>
    </ng-container>

    @for (item of numbersAndOperators; track $index) {
        <div class="col-12 col-md-4" buttonNumbersAndOperators>
            <app-action-button 
                [buttonColor]="typeof item === 'string' ? 'secondary' : 'light'" 
                [buttonContent]="item" 
                [buttonValue]="item"
                (buttonClicked)="setButtonValue($event)">
            </app-action-button>
        </div>
    }

    <ng-container buttonDelete>
        <app-action-button buttonColor="warning" 
            buttonContent="Deletar"
            (buttonClicked)="removeItemDisplay()">
        </app-action-button>
    </ng-container>

    <ng-container buttonClear>
        <app-action-button buttonColor="danger" 
            buttonContent="Limpar"
            (buttonClicked)="clearDisplay()">
        </app-action-button>
    </ng-container>

    <ng-container buttonResult>
        <app-action-button buttonColor="primary" 
            buttonContent="Resultado"
            (buttonClicked)="printResultDisplay()">
        </app-action-button>
    </ng-container>

    <ng-container alert>
        @if (showAlert) {
            <app-alert alertClass="alert alert-success" alertContent="Conteúdo Copiado!"></app-alert>
        }
    </ng-container>

</app-calculator-container>